* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.App .wrapper:first-child {
  width: 260px;
  height: 100vh;
}

.App .wrapper:nth-child(2) {
  width: 320px;
  height: 100vh;
}

.App .wrapper:nth-child(3) {
  width: auto;
  height: 100vh;
}

.svg-icon {
  width: 32px;
  height: 32px;
}

.folder-navigation-view .top-navbar {
  display: flex;
  height: 48px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0 20px;
}

.folder-navigation-view .folder-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.folder-navigation-view .folder-item > * {
  margin: 10px;
}

@media (max-width: 1200px) {
  .App .wrapper:first-child {
    color: black;
  }
}

@media (max-width: 980px) {
  .App .wrapper:nth-child(2) {
    color: black;
  }
}